<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>維護後台</title>
</head>
<body>

<h1> EC POS管制台 </h1>

<!--{{ request.session }}-->
{% if request.session.username %}
    <P>
        歡迎 {{ request.session.username }}
    </P>

<table border="1">
    <tr>
        <th>呷霸卡</th>
        <th>悠遊卡</th>
        <th>台灣pay</th>
    </tr>
    {% for item in status %}
    <tr>
        <td>{{ item.gbpay }}</td>
        <td>{{ item.uupay }}</td>
        <td>{{ item.twpay }}</td>
        <td><a href="/control/update/1">設定</a></td>
    </tr>  
    {% endfor %}
</table>
<p>(001 服務正常; 002 服務暫停)</P>

<table border="1">
    <tr>
        <th>雲端訂單</th>
    </tr>
    {% for item in cos_data %}
    <tr>
        <td>{{ item }}</td>
        <td><a href="/control/update_cos/1">設定</a></td>
    </tr>  
    {% endfor %}
</table>
<p>(OK 服務正常; NO 服務暫停)</P>



<tr>
    <a href="/user/logout">退出</a>
</tr>

<!--{{ request.COOKIES }}-->
{% else %}
    {% if request.COOKIES.username %}
    <P>
        歡迎 {{ request.COOKIES.username }}
    </P>
    <tr>
        <a href="/user/logout">退出</a>
    </tr>
   
    {% else %}
    <tr>
        <a href="/user/login">登入</a>
    </tr>

    {% endif %}

{% endif %}

</body>
</html>